---
---
@charset "utf-8";

// Our variables
$header-font-family: 'Oswald', sans-serif;
$base-font-family: "proxima-nova", sans-serif;
$base-font-size:   100%;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$letter-spacing: 0;

$spacing-unit:     30px;

$text-color:       #121212;
$background-color: #f5f5f5;
$brand-color:      #121212;

$beige:            #f1e5c2;
$white:            #fff;
$grey-color:       #121212;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:   1500px;

$on-smalldesktop:  985px;
$on-palm:          686px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
